body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.sp1 {
	left: 45%;
	position: relative;
}

.sp2 {
	left: 47%;
	position: relative;
}

.form-control {
	display: inline-block;
	width: 20%;
	margin: 20px;
}
.center {
	left: 50%;
	position: relative;
}
img {
	border: #ccc 2px solid;
	padding: 25px;
}
.space {
	top: 45px;
	position: relative;
}
